@import "tailwindcss";

body {
  margin: 0;
}

button,
[role='button'],
select {
  cursor: pointer;
}

button:disabled,
[role='button'][aria-disabled='true'],
select:disabled {
  cursor: not-allowed;
}
